.vscode/
README.txt
arrow-handle.svg
before-after-slider-package-fixed.zip
before-after-slider.html
github-pages-site/
simple_logo_IFIEB_color.svg
svg2png.py
test.pptx
images/before.png
images/after.png
images/ifieb-logo.png
images/README.txt
